<!DOCTYPE html>
<html lang="en" xmlns:th="http:/thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Catalog</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<header>
    <img class="logo" src="/img/logo.png" height="57" width="150">
    <p class="weather" th:text="${date} + '. Moscow ' + ${weather.temperature} + ' °C, ' + ${weather.description}"></p>
    <ul class="ul-auth">
        <li>
            <a href="/">Main</a>
        </li>
      <li sec:authorize="!isAuthenticated()">
        <a href="/login">Log in</a>
      </li>
      <li sec:authorize="!isAuthenticated()">
        <a href="/registration">Sign up</a>
      </li>
      <li sec:authorize="isAuthenticated()">
        <a href="/logout">Log out</a>
      </li>
    </ul>
</header>
  <div class="urlastday">
    <h1>YOUR LAST DAY</h1>
    <p> WHAT WOULD YOU DO IF YOU KNOW THAT TODAY IS THE LAST DAY</p>
</div>
<div class="catalog">
    <ul class="ul-catalog">
        <li>
            <figure>
                <img src="/img/catalog_img/nhl_img.jpg" alt=""/>
                <figcaption>
                    <a href="/catalog/NHL">NHL</a>
                </figcaption>
                <i>NHL schedule</i>
            </figure>
        </li>
        <li>
            <figure>
                <img src="/img/catalog_img/horoscope_img.jpg" alt=""/>
                <figcaption>
                    <a href="/catalog/horoscope">HOROSCOPE</a>
                </figcaption>
                <i>daily horoscope</i>
            </figure>
        </li>
        <li>
            <figure>
                <img src="/img/catalog_img/history_img.jpg" alt=""/>
                <figcaption>
                    <a href="/catalog/history">HISTORY</a>
                </figcaption>
                <i>historical fact</i>
            </figure>
        </li>
        <li>
            <figure>
                <img src="/img/catalog_img/NASA_img.jpg" alt=""/>
                <figcaption>
                    <a href="/catalog/NASA">NASA</a>
                </figcaption>
                <i>picture of the day</i>
            </figure>
        </li>
    </ul>
</div>
</body>
</html>